.card{
    display: flex;
    flex-direction: column;
    padding: 40px 27px;
    gap: 10px;
    width: 381px;
    height: 243px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    position: relative;
}

.name-repository{
    color: var(--color-grey-7);
    font-weight: var(--font-weght-2);
    margin-bottom: 20px;
}

.box-text-desc{
    width: 327px;
    height: 63px;
    text-overflow: ellipsis;
    margin-bottom: 20px;
}

.description-repository{
    color: var(--color-grey-6);
    margin-bottom: 20px;
}

.card:hover{
    background-color: var(--color-grey-1);
    border: 2px solid var(--color-grey-7);
}